nav {
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding-top: 1.5em;
}
@media screen and (max-width: 1023px) {
  nav nav {
    background-color: transparent;
  }
}
nav .new-tweet-text {
  font-family: "Source Sans Pro", sans-serif;
}
nav .new-tweet-text .btn-new-tweet {
  margin-bottom: 0.5em;
  background-color: transparent;
  border: none;
  color: white;
}
nav .new-tweet-text .arrow-down-icon:hover {
  color: darkred;
}
nav .new-tweet-text .arrow-down-icon {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  color: red;
  display: flex;
  justify-content: center;
}
nav .new-tweet-text .arrow-down-icon {
  animation-name: arrow-down-icon;
  animation-timing-function: linear;
}

@keyframes arrow-down-icon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding-top: 0px;
    height: 300px;
    margin: 150px 100px 0 30px;
  }
  main {
    margin: 150px 100px 0 30px;
  }
  .content {
    display: flex;
  }
}
