#tweet-form {
  display: flex;
  flex-direction: column;
}

#tweet-text {
  border-top-color: transparent;
  background-color: #f4f1ec;
  border-left-color: transparent;
  border-right-color: transparent;
  border-width: thin medium thick 5px;
}

.logo-btn {
  display: flex;
  background-color: #4056a1;
  color: white;
  font-family: "Bungee", cursive;
}

.tweet-counter {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-weight: bold;
  font-family: "Bungee", cursive;
}

.new-tweet .error {
  border: solid;
  border-width: thick 5px;
  border-color: red;
  font-style: italic;
  color: red;
  margin-bottom: 30px;
  display: none;
}
